---
import LinkIcon from '../icons/LinkIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import { t } from "i18next";
import IconSelector from './IconSelector.astro';
import TechTag from './TechTag.astro';
import tagConfig from "@data/tags.json";

export interface Props {
  id: number,
  emoji: string
  name: string,
  description: string,
  image: string,
  links: {
    github?: string,
    web?: string
  },
  tags: string[]
}
const {id, emoji, name, description, image, links, tags} = Astro.props;
const {github, web} = links;
---

<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>{`${emoji} ${name}`}</h2>
    </div>
    <img src={image} width="100%" alt={description}/>
    <p class="description">{description}</p>
  </div>
  <div class="card-footer">
    <div class="tag-wrap">
      {
        tags.map(tag => {
          const {label, icon} = tagConfig[tag];
          return <TechTag icon={icon} label={label} backgroundColor="#fff"/>
        })
      }
    </div>
    { github && <a class="link-icon" href={github} target="_blank" aria-label={`${t('projects.github.aria-label')}${name}`}><GithubIcon/></a>}
    { web && <a class="link-icon" href={web} target="_blank" aria-label={`${t('projects.web.aria-label')}${name}`}><LinkIcon/></a>}
  </div>
</div>

<style>
  .link-icon {
    height: 35px;
    align-self: flex-end;
    color: #212a37;
  }
  .tag-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: flex-end;
  }
  .card {
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .description {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 200;
  }

  .card-footer {
    padding: 0.5rem 1rem 1rem 1rem;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 850px) {	
    .card {
      width: 400px;
    }
  }

  @media (min-width: 1200px) {	
    .card {
      width: 450px;
    }
  }
</style>