---
import projects from "../data/projects.json";
import ProjectCard from "./ProjectCard.astro";
import i18next, { t } from "i18next";

const lan = i18next.language

---
<div class="projects-section" id={t("nav.projects.link")}>
  <h1>
    {t("projects.title")}
  </h1>
	<div class="projects-card-wrap">
		{projects.map( el => {
			const {id, visible, emoji, name, description, image, links, tags} = el
			return visible && <ProjectCard id={id} emoji={emoji} name={name[lan]} description={description[lan]} image={image} links={links} tags={tags} />
		})}
	</div>
</div>


<style>
	.projects-section {
		margin: auto;
		padding-top: calc(var(--top-padding) + 1rem);
		padding-bottom: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
		min-height: 90vh;
	}

	@media (min-width: 780px) {
		.projects-section	{
			padding-left: 7rem;
			padding-right: 7rem;
		}
	}

	@media (min-width: 1200px) {
		.projects-section	{
			padding-left: 10rem;
			padding-right: 10rem;
		}
	}

	.projects-card-wrap {
		margin-top: 0.8rem;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		align-items: flex-start;
	}
</style>