---
import projects from "../data/projects.json";
import ProjectCard from "./ProjectCard.astro";
import i18next from "i18next";

const lan = i18next.language

---
<div class="projects-section" id="projects">
  <h1>
    Projects
  </h1>
	<div class="projects-card-wrap">
		{projects.map( el => {
			const {id, visible, emoji, name, description, image, links, tags} = el
			return visible && <ProjectCard id={id} emoji={emoji} name={name[lan]} description={description[lan]} image={image} links={links} tags={tags} />
		})}
	</div>
</div>


<style>
	.projects-section {
		margin: auto;
		padding: calc(var(--top-padding) + 1rem) 1rem 1rem 1rem	;
		max-width: fit-content;
		height: 100vh;
	}

	.projects-card-wrap {
		margin-top: 0.8rem;
		display: grid;
		gap: 15px;
		grid-template-columns: repeat(1, 1fr);
		align-items: flex-start;
		width: 500px;
	}

	@media (min-width: 850px) {	
		.projects-card-wrap {
			gap: 10px;
			grid-template-columns: repeat(2, 1fr);
			width: 810px;
		}
	}

	@media (min-width: 1200) {	
		.projects-card-wrap {
		gap: 15px;
		grid-template-columns: repeat(2, 1fr);
		width: 915px;
	}
}
</style>